# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.lock.info
**/terraform.tfvars
**/.terraform.lock.hcl
**/crash.log
**/override.tf
**/override.tf.json

# Cosign — NUNCA commitar a chave privada
cosign.key
*.key

# Ansible
ansible/inventory.ini
ansible/*.retry
ansible/group_vars/all/vault.yml

# Docker
**/.docker/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

